<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle Name="IsWiX" Version="$(var.MSIProductVersion)" Manufacturer="IsWiX" UpgradeCode="098f6e97-3b5a-47ad-865a-89607d7e113f">
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication LicenseFile="Resources\EULA.rtf" LogoFile="Resources\Icon.png" Theme="rtfLicense" ThemeFile="Resources\RtfTheme.xml"  LocalizationFile="Resources\RtfTheme.wxl" />
    </BootstrapperApplication>
    <Variable Name="InstallFolder" bal:Overridable="yes" Type="formatted" Value="[ProgramFiles6432Folder]\My Company\IsWiX"/>
    <Chain>
 			<PackageGroupRef Id="NetFx48WebAsPrereq"/>
      <MsiPackage Id="IsWiX" SourceFile="$(var.IsWiXPackage.TargetPath)">
        <MsiProperty Name="INSTALLLOCATION" Value="[InstallFolder]"/>
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>